VITE_SUPABASE_URL=https://pyltlobngdnoqjnrxefn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB5bHRsb2JuZ2Rub3FqbnJ4ZWZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkwMTMzMDksImV4cCI6MjA4NDU4OTMwOX0.3tUN205xeYJQqHuCJ5h_le2h-k_9DkElvmbhmbdYYwM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB5bHRsb2JuZ2Rub3FqbnJ4ZWZuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTAxMzMwOSwiZXhwIjoyMDg0NTg5MzA5fQ.HCO1CRCZiLqds0DgVx0T0UhEO58sn2pVAfGCcyL6QfM
